.overlay {
  height: 100dvh;
  padding: 50px 0;
  background-color: #0003;
}

.modal {
  position: relative;
  max-width: 792px;
  background-color: #f2f0f9;
  padding: 32px 106px 28px;
  margin: 0 auto;
}

.modal__close {
  position: absolute;
  background-image: url('../images/cross.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 20px;
  right: 30px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

/* .modal__fieldset { */
  /* max-width: 580px; */
  /* padding: 0; */
  /* border: none; */
  /* margin: 0 auto; */
  /*  */
/* } */

.modal__fieldset {
  background-color: #fff;
  border-radius: 8px;
  padding: 28px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 32px;
}

.modal__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 43px;
}

.modal__label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  padding-left: 10px;
}

.modal__input {
  display: block;
  font-size: 16px;
  line-height: 1.125;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #F4F2FF;
  padding: 11px;
}

.modal__input:not(:last-child) {
  margin-bottom: 12px;
}

/* .modal__textarea { */
  /* display: block; */
  /* background-color: #f4f2ff; */
  /* border: none; */
  /* border-radius: 6px; */
  /* padding: 11px; */
  /* width: 524px; */
  /* height: 112px; */
  /* resize: none; */
/*  */
/* } */

.modal__input:disabled {
  background-color: #eee;
}

.modal__optional {
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
}

.modal__checkbox {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40.39px;
  background-color: #F4F2FF;
  border-radius: 6px;
  cursor: pointer;
}

.modal__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
  cursor: pointer;
}

.modal__checkbox:checked:after {
  opacity: 1;
}

.modal__checkbox:focus:before {
  box-shadow: 0 0 3px;
}

.modal__footer {
  text-align: right;
  padding-right: 28px;
}

.modal__btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 25px;
  border: none;
  line-height: 1.2;
  border-radius: 6px;
  color: #fff;
  background-color: #6D5BD0;
  cursor: pointer;
}


