.overlay-deleteModal {
  justify-content: center;
}

.modalWindow {
  padding: 80px 60px;
  background-color: #f4f2ff;
}

.message {
  max-width: 400px;
  font-size: 20px;
  margin: 0 0 80px;
}

.btnBlock {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.btn-delete-product {
  background-color: rgb(211, 35, 35);
}

@media (max-width: 590px) {
  .modalWindow {
    margin: 0 20px;
  }
}

@media (max-width: 480px) {
  .modalWindow {
    padding: 55px 45px;
    margin: 0 30px;
  }

  .message {
    font-size: 18px;
    margin: 0 0 50px;
  }
}

@media (max-width: 420px) {
  .message {
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .modalWindow {
    padding: 35px 25px;
  }

  .btnBlock {
    flex-direction: column;
  }
}