:root {
  --main-color: #6e6893;
  --overlay-background-color: #0003;
  --white: #fff;
  --white-lilac: #f2f0f9;
  --lavender-gray: #c6c2de;
  --blue-marguerite: #6d5bd0;
  --gigas: #4535a0;
  --titan-white: #f4f2ff;
  --ebb: #f0e9e9;
  --red: #d80101;
  --snuff: #d9d5ec;
  --lavender-purple: #8B83BA;
}